
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-categoryPath a, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-categoryPath a:active, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-categoryPath a:visited,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-subcategories-categoryName,
html#ecwid_html body#ecwid_body #main_content div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-link,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-details-GalleryPanel-linkContainer div,
html#ecwid_html body#ecwid_body #main_content .ecwid a, 
html#ecwid_html body#ecwid_body #main_content .ecwid a:active, 
html#ecwid_html body#ecwid_body #main_content .ecwid a:visited,
html#ecwid_html body#ecwid_body #main_content div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-link,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-productNameLink a, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-productNameLink a:visited,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a:active, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a:visited {
	color:#02aadc;
	text-decoration:none;
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-head,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Checkout-blockTitle, 
html#ecwid_html body#ecwid_body #main_content table.ecwid-Checkout-blockTitle div.gwt-Label, 
html#ecwid_html body#ecwid_body #main_content table.ecwid-Checkout-blockTitle div.gwt-HTML,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-head-share-purchase,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-blockTitle { 
	color:#111;
}
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-backgroundedPanel,
html#ecwid_html body#ecwid_body #main_content .ecwid .ecwid-productBrowser-ask-advice-panel,
html#ecwid_html body#ecwid_body #main_content .ecwid .ecwid-ProductDetails-gray-panel-bottom,
html#ecwid_html body#ecwid_body #main_content .ecwid-productBrowser-details-rightPanel div.ecwid-productBrowser-sharePanel-header,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-EnterCouponBox,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-backgroundedPanel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-form,
html#ecwid_html body#ecwid_body #main_content .ecwid-productBrowser-details-rightPanel .ecwid-productBrowser-sharePanel-buttonsContainer{
	background:#ececec;
	border:none;
} 

html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-categoryPath,
html#ecwid_html body#ecwid_body #main_content div.ecwid-results-topPanel div,
html#ecwid_html body#ecwid_body #main_content div.ecwid-results-topPanel div.ecwid-results-topPanel-itemsCountLabel,
html#ecwid_html body#ecwid_body #main_content .ecwid,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-details-qtyLabel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-details-inTheBag div,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-cell-title,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart div.ecwid-productBrowser-sku,
html#ecwid_html body#ecwid_body #main_content span.ecwid-productBrowser-cart-weight,
html#ecwid_html body#ecwid_body #main_content td.ecwid-PseudoButton-center, 
html#ecwid_html body#ecwid_body #main_content td.ecwid-PseudoButton-center div, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-PseudoButton,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-optionsList,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-qtyTextField-multiplication,
html#ecwid_html body#ecwid_body #main_content td.ecwid-productBrowser-cart-itemsTable-headerCell,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-subtotalLabel, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-shippingLabel, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-taxLabel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-totalLabel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-estimationNote,
html#ecwid_html body#ecwid_body #main_content label.ecwid-fieldLabel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-details-inStockLabel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-note,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-block,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-productDescr,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-Summary-label,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-productsList-descr,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-sku,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-details-inStockLabel,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-sku{
	color:#252525;
}

html#ecwid_html body#ecwid_body #main_content table.ecwid-productBrowser-productsTable-table { 
	width:100%; 
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-Checkout-BreadCrumbs-link{
	color:#252525;
}
html#ecwid_html body#ecwid_body #main_content div.ecwid-Checkout-BreadCrumbs-link-visited,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Checkout-BreadCrumbs-link-current{
	color:#02aadc;
	border-color:#02aadc;
}
html#ecwid_html body#ecwid_body #main_content div.ecwid-Checkout-BreadCrumbs-link-current {
	text-decoration:underline;
}

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-detailsContainer div.ecwid-productBrowser-details-thumbnail { 
	background:#fff ; 
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-price,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-subtotalAmount, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-subtotalAmountMinus, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-shippingAmount, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-taxAmount,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-totalAmount,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart div.ecwid-productBrowser-price,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-Summary-label, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-Summary-value, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-Summary-value,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-Summary-value-price,
html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-productPrice{
	color:#252525;
}

html#ecwid_html body#ecwid_body #main_content button.gwt-Button { 
	color:#fff;
	text-shadow:1px 2px 2px #85a05f;
	background: rgb(176,220,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(176,220,108,1) 0%, rgba(151,201,78,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,220,108,1)), color-stop(100%,rgba(151,201,78,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(176,220,108,1) 0%,rgba(151,201,78,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(176,220,108,1) 0%,rgba(151,201,78,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(176,220,108,1) 0%,rgba(151,201,78,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(176,220,108,1) 0%,rgba(151,201,78,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0dc6c', endColorstr='#97c94e',GradientType=0 ); /* IE6-9 */
	text-transform:uppercase;
	border:none;
}
html#ecwid_html body#ecwid_body #main_content button.gwt-Button:hover { 
	background: rgb(18,186,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(18,186,236,1) 0%, rgba(7,170,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,186,236,1)), color-stop(100%,rgba(7,170,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(18,186,236,1) 0%,rgba(7,170,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(18,186,236,1) 0%,rgba(7,170,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(18,186,236,1) 0%,rgba(7,170,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(18,186,236,1) 0%,rgba(7,170,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12baec', endColorstr='#07aadb',GradientType=0 ); /* IE6-9 */
	text-shadow:1px 2px 2px #7dcee6;
	text-decoration:none;
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-pager .gwt-InlineLabel { display:none; }
html#ecwid_html body#ecwid_body #main_content div.ecwid-pager { padding-top:30px; }
html#ecwid_html body#ecwid_body #main_content div.ecwid-pager span.ecwid-pager-link-enabled span { 
	text-decoration:none;	
}
html#ecwid_html body#ecwid_body #main_content div.ecwid-pager span.ecwid-pager-link-enabled {	
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(223,223,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(223,223,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(223,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(223,223,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(223,223,223,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(223,223,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
	color:#000;
	text-decoration:none;
	padding:5px 10px;
	margin-right:5px;
}
html#ecwid_html body#ecwid_body #main_content div.ecwid-pager span.ecwid-pager-link-enabled:hover, 
html#ecwid_html body#ecwid_body #main_content div.ecwid-pager span.ecwid-pager-link-disabled {
	background: rgb(18,186,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(18,186,236,1) 0%, rgba(0,168,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,186,236,1)), color-stop(100%,rgba(0,168,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(18,186,236,1) 0%,rgba(0,168,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(18,186,236,1) 0%,rgba(0,168,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(18,186,236,1) 0%,rgba(0,168,218,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(18,186,236,1) 0%,rgba(0,168,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12baec', endColorstr='#00a8da',GradientType=0 ); /* IE6-9 */
	color:#fff;
	padding:5px 10px;
	margin-right:5px;
}

html#ecwid_html body#ecwid_body .sidebar span.ecwid-categories-category { 
	font-size:13px;
	color:#02aadc;
}
html#ecwid_html body#ecwid_body .sidebar td.ecwid-categories-vertical-table-cell-selected span.ecwid-categories-category {
	color:#02aadc;
}

html#ecwid_html body#ecwid_body button.ecwid-SearchPanel-button {
	background:#262626;
	padding:2px 6px;
	color:#fff;
	border:none;
	cursor:pointer;
}
html#ecwid_html body#ecwid_body input.ecwid-SearchPanel-field { 
	background:#fff;
	border-top:1px solid #ccc;
	color:#959595;
	text-transform:lowercase;
}

html#ecwid_html body#ecwid_body #main_content table.ecwid-productBrowser-productsTable-table div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body #main_content table.ecwid-productBrowser-productsTable-table div.ecwid-productBrowser-productsTable-addToBagLink { 
	text-decoration:none;
	color:#02aadc;
}

html#ecwid_html body#ecwid_body #main_content table.ecwid-productBrowser-productsTable-table div.ecwid-productBrowser-price { 
	color:#252525;
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-sku {
	color:#252525;
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-hint,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-asterisk,
html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-estimationNote span {
	color:#252525;
	font-style:italic;
}

html#ecwid_html body#ecwid_body #main_content tr.ecwid-productBrowser-cart-itemsTable-row-selected,
html#ecwid_html body#ecwid_body #main_content tr.ecwid-productBrowser-cart-itemsTable-row-selected > td {
	background:#fff;
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-productBrowser-cart-termsCheckbox-rollover { 
	background:#fff;
}

html#ecwid_html body#ecwid_body #main_content div.ecwid-ProductBrowser-auth-anonim { 
	margin-right:0;
}

html#ecwid_html body#ecwid_body #main_content td.ecwid-Invoice-edgeCell,
html#ecwid_html body#ecwid_body #main_content td.ecwid-Invoice-cell, 
html#ecwid_html body#ecwid_body #main_content .ecwid-responsive div.ecwid-PseudoButton {
	background:#fff;
}


html#ecwid_html body#ecwid_body #main_content div.ecwid-Invoice-cell-title{
	background:#ececec;
}
html#ecwid_html body#ecwid_body #main_content td.ecwid-Invoice-Header-OrderId span, 
html#ecwid_html body#ecwid_body #main_content td.ecwid-Invoice-Header-OrderId-long span, 
html#ecwid_html body#ecwid_body #main_content td.ecwid-Invoice-Header-OrderId-very-long span {
	color:#252525;
}