@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular-webfont.eot');
    src: url('Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Oswald-Regular-webfont.woff') format('woff'),
         url('Oswald-Regular-webfont.ttf') format('truetype'),
         url('Oswald-Regular-webfont.svg#Oswald') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'expressway_rgbold';
    src: url('ufonts.com_expressway-rg-bold-webfont.eot');
    src: url('ufonts.com_expressway-rg-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_expressway-rg-bold-webfont.woff') format('woff'),
         url('ufonts.com_expressway-rg-bold-webfont.ttf') format('truetype'),
         url('ufonts.com_expressway-rg-bold-webfont.svg#expressway_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}