body {
    background-color: @colorbody;
    background-image: @background;
    background-position: @horizontal @vertical;
    background-repeat: @repeat;
    background-attachment: @attachment;
    color: @fontcolor;
}
body.fixed-map section.boxed,
body.fixed-map header.boxed {
    background-color: @colorbody;
}
div.user-links-container div.user-links > div {
    border-right: 2px solid @colorbody;
}
div#portfolio-container div.portfolio-description div.portfolio-zoom,
div#portfolio-container div.portfolio-description div.portfolio-link {
    border-left: 2px solid @colorbody;
}
section.no-rtl div.blog-list-preview div.blog-list-title-comments div.blog-list-comments a,
section.no-rtl div.blog-list-preview div.blog-list-links div.blog-list-more-link {
    border-left: 4px solid @colorbody;
}
section.rtl div.blog-list-preview div.blog-list-title-comments div.blog-list-comments a,
section.rtl div.blog-list-preview div.blog-list-links div.blog-list-more-link {
    border-right: 4px solid @colorbody;
}
div#categories ul li.categories-menu-item a span.count,
div.marker-on-map div.marker-content div.marker-description div,
div.marker-on-map div.marker-content div.marker-description a,
div.marker-on-map div.marker-close i,
ul.industries-tabs li.active a,
div.blog-list-preview div.blog-list-links div.blog-list-meta i,
div#breadcrumbs div.breadcrumbs-page-title {
    color: @fontcolor;
}
a.button-hover:hover {
    color: @fontcolor !important;
}
div#categories ul li.categories-menu-item a:hover {
    background: @fontcolor !important;
}
ul.ui-autocomplete li a:hover,
div.jquery-selectbox-list span.jquery-selectbox-item:hover,
div#navigation div#main-menu > div > ul > li > ul li a:hover,
div.user-links-container ul.user-links > li > ul > li a:hover,
ul.megasearch-select-list li:hover,
div#navigation div#main-menu > div > ul > li > ul > li.current_page_item > a,
div#search div.advanced-search-control a.hide,
div#search div.advanced-search-control a.show:hover,
div#search form#default-search div.jquery-selectbox div.jquery-selectbox-moreButton:hover,
div#search form#default-search div.jquery-selectbox.selecthover div.jquery-selectbox-moreButton,
div#search-sorting form div.jquery-selectbox div.jquery-selectbox-moreButton:hover,
div#search-sorting form div.jquery-selectbox.selecthover div.jquery-selectbox-moreButton,
div#search form#advanced-search div.jquery-selectbox div.jquery-selectbox-moreButton:hover,
div#search form#advanced-search div.jquery-selectbox.selecthover div.jquery-selectbox-moreButton,
div#map-wrapper div#map,
div#street-view iframe,
div#map-error,
div#company-page-map,
div#contact-page-map,
div#about-us-block div.person div.person-photo,
div.megasearch-select-button:hover,
div.megasearch-select-button.active {
    background: @fontcolor;
}
a.button-background:hover,
a.button-hover {
    background: @fontcolor !important;
}
div#header-style-one div#navigation div#main-menu > div > ul > li.current_page_item > a div.menu-image i,
div#header-style-one div#navigation div#main-menu > div > ul > li.current_page_parent > a div.menu-image i,
div#header-style-one div#navigation div#main-menu > div > ul > li > a:hover div.menu-image i,
div.category-item-header:hover div.category-item-title-container a,
ul.categories-item-list-menu li a:hover {
    background-color: @fontcolor !important;
}
div#map-trobber,
img.event-trobber,
div#header-style-one div#navigation div#main-menu > div > ul > li.current_page_item > a div.menu-image,
div#header-style-one div#navigation div#main-menu > div > ul > li.current_page_parent > a div.menu-image,
div#header-style-two div#navigation div#main-menu > div > ul > li a:hover,
div#header-style-two div#navigation div#main-menu > div > ul > li.current_page_item > a,
div#header-style-two div#navigation div#main-menu > div > ul > li.current_page_parent > a,
div#header-style-two div#navigation div#main-menu > div > ul > li > ul > li.current_page_item > a {
    background-color: @fontcolor;
}
ul.industries-tabs li a:hover {
    background-color: @fontcolor !important;
    border: 1px solid @fontcolor !important;
}
div#contact-page-map {
    border: 2px solid @fontcolor;
}
a.button-hover {
    border: 1px solid @fontcolor;
}
div.disable-map-control {
    border-left: 1px solid @fontcolor;
    border-bottom: 1px solid @fontcolor;
}
div.gm-style-iw-marker div.gomapMarker:hover div.marker-on-map {
    background: @fontcolor !important;
}
div.gm-style-iw-marker div.gomapMarker:hover > span {
    border-left: 16px solid @fontcolor !important;
}
div#welcome div.welcome-text,
div#custom-home-block div.custom-home-block-text,
div.blog-list-preview div.blog-list-links div.blog-list-meta,
div.blog-post-info div.blog-post-meta,
div#events_list ul li div.event-year,
div#events_list ul li div.event-desc-autor,
div#error-no-found div.text,
div#copyright div.copyright-text {
    color: @fontcolorminor;
}
header.no-rtl div.user-links-container ul.user-links > li {
    border-right: 2px solid @colorbody;
}
header.rtl div.user-links-container ul.user-links > li {
    border-left: 2px solid @colorbody;
}
div.submit,
div#claim-company,
div#map-wrapper div.map-control,
div.disable-map-control {
    background: @colorfirst;
}
div.rating-details button,
a.button-default {
    background: @colorfirst !important;
}
div.submit,
div#claim-company,
div.rating-details button,
a.button-default {
    border: 1px solid @colorfirst;
}
div#map-wrapper div.map-control a {
    border-top: 1px solid @colorfirst;
    border-bottom: 1px solid @colorfirst;
}
div.submit:hover,
div#claim-company:hover,
div.submit:hover i,
div.submit:hover input[type="submit"],
div.body p a,
div#breadcrumbs div.breadcrumbs a:hover,
div#map-wrapper div.map-control:hover a,
div.disable-map-control:hover a,
div.marker-on-map div.marker-content div.marker-description a:hover,
div#sidebar ul li a:hover,
div.sidebar-post div.sidebar-post-content div.sidebar-post-title a:hover,
div.sidebar-post div.sidebar-post-content div.sidebar-post-more:hover,
form#sidebar-search div.submit:hover i,
div#content.company div#sidebar table tr td a:hover,
div#contact-details div.company-address div.detail:hover div.detail-icon i,
div#contact-details div.company-address div.detail div.detail-content a,
div.blog-list-preview div.blog-list-title-comments div.blog-list-title a:hover,
div.blog-list-preview div.blog-list-title-comments div.blog-list-comments a:hover,
div.blog-list-preview div.blog-list-links div.blog-list-meta a:hover,
div.blog-post-info div.blog-post-meta a:hover,
div.company-listing-edit-link a,
div.company-listing-title a:hover,
div.company-listing-categories a:hover,
div.company-listing-more a:hover,
div.company-page-categories a:hover,
.logged-in-as a:hover,
ul.commentlist div.comment div.comment-body div.comment-links a.comment-reply-link,
ul.commentlist div.comment div.comment-body div.comment-links a.comment-edit-link:hover,
ul.commentlist div.comment div.comment-body div.comment-author a:hover,
div.rating-details button:hover,
div.home-companies-carusel ol li a:hover,
div.home-companies div.home-companies-desc div.home-companies-title a:hover,
div.home-companies div.home-companies-desc div.home-companies-categories a:hover,
div.company-listing-thumb-title a:hover,
div.company-listing-thumb-categories a:hover {
    color: @colorfirst;
}
a.button-default:hover {
    color: @colorfirst !important;
}
div#header-style-one div#navigation div#main-menu > div > ul > li > a div.menu-image i,
a.scrollTop div#up_container span,
ul.categories-item-list-menu li,
div.company-listing-thumb-photo {
    background-color: @colorsecond;
}
div#header-style-two div#navigation div#main-menu > div > ul > li a,
div.user-links-container ul.user-links > li:hover > a,
div.user-links-container ul.user-links > li.login.active > a,
form#login-form input[type="submit"]:hover,
form#login-form a.password-restore:hover,
div#user-links-panel div.lang-bar ul.languages li a:hover,
div#search div.advanced-search-control a.show,
div#search div.advanced-search-control a.hide:hover,
div#search form#default-search div.jquery-selectbox div.jquery-selectbox-moreButton,
div#search-sorting form div.jquery-selectbox div.jquery-selectbox-moreButton,
div#search form#default-search div.jquery-selectbox.selecthover div.jquery-selectbox-moreButton:hover,
div#search-sorting form div.jquery-selectbox.selecthover div.jquery-selectbox-moreButton:hover,
div.marker-on-map div.marker-content div.marker-image,
div.blog-list-preview div.blog-list-image a,
div.blog-list-preview div.blog-list-links div.blog-list-more-link a:hover,
div.older-posts a:hover,
div.blog-post-image,
div#content.company ul.company-tabs li.active a,
div#content.company ul.company-tabs li a:hover,
div#content.home ul.home-tabs li.active a,
div#content.home ul.home-tabs li a:hover,
div.tabs ul li.ui-tabs-active a,
div.tabs ul li a:hover,
div#portfolio-container.column-1 div.portfolio-description,
div#events_list ul li div.event-day-month,
div.pager ul li a.current-page,
div.older-coments a:hover,
div.home-companies div.home-companies-desc div.home-companies-more a:hover,
div#subscribe div.subscription-table div.subscription-column div.subscription-header,
div#partners-carusel ol li a.flex-active,
div#footer,
div#navigation div#main-menu > div > ul > li > ul li a,
div.user-links-container ul.user-links > li > ul > li a,
ul.megasearch-select-list li,
ul.ui-autocomplete li a,
div.jquery-selectbox-list span.jquery-selectbox-item,
ul.commentlist div.comment div.comment-user-picture,
div.company-listing-featured,
div.megasearch-select-button,
div.megasearch-select-button.active:hover,
div.company-listing-thumb-overlay a {
    background: @colorsecond;
}
a.button-second {
    background: @colorsecond !important;
}
div.body p a:hover,
div#breadcrumbs div.breadcrumbs i,
div#blog-categories ul li.active a,
div#content.company div#sidebar table tr td a,
div#contact-details div.company-address div.detail div.detail-icon i,
div#contact-details div.company-address div.detail div.detail-content a:hover,
div.company-listing-edit-link a:hover,
div.pager ul li a:hover,
ul.commentlist div.comment div.comment-body div.comment-links a.comment-edit-link,
ul.commentlist div.comment div.comment-body div.comment-links a.comment-reply-link:hover,
div.rating:hover div.rating-title,
div.rating:hover i,
div.user-rating div.value:hover,
div.home-companies-carusel ol li a.flex-active,
input[type="checkbox"] + label:hover,
input[type="radio"] + label:hover,
input[type="radio"] + label:hover:before,
input[type="radio"]:checked + label::before,
input[type="radio"]:checked + label,
input[type="checkbox"] + label:hover:before,
input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label,
div.megasearch-container:hover div.search-button-fake,
div.company-listing-thumb-rating {
    color: @colorsecond;
}
a.button-second:hover {
    color: @colorsecond !important;
}
div#contact-page-map:hover {
    border: 2px solid @colorsecond;
}
div#content.company ul.company-tabs,
div#content.home ul.home-tabs,
div.home-companies-carusel ol li a.flex-active,
div.tabs ul {
    border-bottom: 3px solid @colorsecond;
}
div.pager ul li a:hover,
div.rating:hover,
div.user-rating div.value:hover,
div#partners-carusel ol li a:hover,
div#partners-carusel ol li a.flex-active,
a.button-second,
div.no-access div.no-access-icon div.no-access-notice {
    border: 1px solid @colorsecond;
}
div.user-rating div.value div.showall {
    border-bottom: 1px dashed @colorsecond;
}
div.no-access div.no-access-icon div.no-access-triangle {
    border-top: 6px solid @colorsecond;
}
div#search,
div#industries-tabs,
div#sidebar div.title,
div#company-tabs-product div.title,
div#sidebar div.block-title,
div#contact-message form,
div#comment-message form,
div#respond form,
div#about-us-block div.person,
div.blog-list-preview div.blog-list-title-comments,
div.blog-list-preview div.blog-list-description,
div.blog-list-preview div.blog-list-links,
div.blog-post-info,
div#content.company ul.company-tabs li a,
div#content.home ul.home-tabs li a,
div.tabs ul li a,
div.company-page-social,
div#portfolio-container.column-2 div.portfolio-description,
div#portfolio-container.column-3 div.portfolio-description,
div#portfolio-container.column-4 div.portfolio-description,
div.rating-send,
div.user-rating div.value,
div.user-rating div.value div.user-values,
div#welcome,
div#visual-composer,
div#custom-home-block,
div.home-companies,
div#pricing-plans div.pricing-table div.pricing-column div.pricing-cell,
div#subscribe div.subscription-table div.subscription-column,
div#subscribe div.subscription-table div.subscription-footer,
div#partners,
blockquote,
div#user-links-panel,
div.company-listing-thumb-body {
    background: @fontcolorback;
}
a.button-grey {
    background: @fontcolorback !important;
}
div#breadcrumbs {
    background-color: @fontcolorback;
}
a.button-grey {
    border: 1px solid @fontcolorback;
}
textarea,
input[type="text"],
input[type="password"],
div.user-links-container ul.user-links > li > a,
form#login-form input#user_login,
form#login-form input#user_pass,
form#login-form input[type="submit"],
form#login-form a.password-restore,
div#user-links-panel div.lang-bar ul.languages,
div#search form#default-search div.jquery-selectbox,
div#search-sorting form div.jquery-selectbox,
div#search form#advanced-search div.clearfix div.slider > a,
div.blog-list-preview div.blog-list-links div.blog-list-more-link a,
div.older-posts a,
div.company-page-tags ul li,
div.pager ul li a,
div.pager ul li a.current-page,
div.older-coments a,
div.rating-stars-box i,
div.rating,
div.user-rating div.value,
div.user-rating div.value div.user-values,
div.home-companies div.home-companies-desc div.home-companies-more a,
div#partners-carusel ol li a,
a.button-background,
div.tab-content,
div.megasearch-container-inner form {
    border: 1px solid @colorborder;
}
div#search.without-map,
div#search.with-slider,
div#custom-home-block,
div.home-companies,
div#partners {
    border-top: 1px solid @colorborderlight;
}
div#search.without-map,
div#search.with-slider,
div#slider,
div#industries-tabs,
div#sidebar ul li,
div.company-listing,
div#welcome,
div#visual-composer,
div.home-companies {
    border-bottom: 1px solid @colorborderlight;
}
body.fixed-map-left div#industries-tabs,
body.fixed-map-left div#map-wrapper {
    border-right: 1px solid @colorborderlight;
}
body.fixed-map-right div#industries-tabs,
body.fixed-map-right div#map-wrapper {
    border-left: 1px solid @colorborderlight;
}
textarea,
input[type="text"],
input[type="password"],
div#search form#default-search div.jquery-selectbox span.jquery-selectbox-currentItem,
div#search-sorting form div.jquery-selectbox span.jquery-selectbox-currentItem,
div#search form#advanced-search div.clearfix input[type="text"],
div#search form#advanced-search div.jquery-selectbox span.jquery-selectbox-currentItem {
    color: #aaaaaa;
}
textarea,
input[type="text"],
input[type="password"],
div.submit:hover,
div#claim-company:hover,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before,
div.user-links-container ul.user-links > li,
div#login-form-container,
form#login-form input#user_login,
form#login-form input#user_pass,
form#login-form a.password-restore,
div#user-links-panel div.lang-bar ul.languages,
div#search form#default-search div.jquery-selectbox,
div#search-sorting form div.jquery-selectbox,
div#search form#advanced-search div.clearfix div.slider > a,
div#map-wrapper div.map-control:hover,
div.disable-map-control:hover,
div.marker-on-map div.marker-content,
div#slider,
div.blog-list-preview div.blog-list-links div.blog-list-more-link a,
div.older-posts a,
div.older-coments a,
div.rating-details button:hover,
div.rating,
div#categories ul li.categories-menu-item a span.count,
div.home-companies ul.slides li,
section.boxed div#content,
div.no-access div.no-access-icon div.no-access-notice,
div.company-listing-thumb-rating {
    background: @colorbody;
}
a.button-default:hover,
a.button-second:hover,
a.button-background,
a.button-grey:hover,
a.button-hover:hover,
ul.social-links li a:hover {
    background: @colorbody !important;
}
div.submit i,
div.submit input[type="submit"],
div#claim-company,
blockquote:before,
blockquote:after,
ul.ui-autocomplete li a,
div.jquery-selectbox-list span.jquery-selectbox-item,
div.user-links-container ul.user-links > li:hover > a,
div.user-links-container ul.user-links > li.login.active > a,
form#login-form input[type="submit"]:hover,
form#login-form a.password-restore:hover,
div#user-links-panel div.lang-bar ul.languages li a:hover,
ul.social-links li a,
div#navigation div#main-menu > div > ul > li > ul li a,
div.user-links-container ul.user-links > li > ul > li a,
ul.megasearch-select-list li,
div#navigation div#main-menu > div > ul > li > ul li.menu-item-has-children:after,
div#header-style-one div#navigation div#main-menu > div > ul > li > a div.menu-image i,
div#header-style-two div#navigation div#main-menu > div > ul > li a,
div#search div.advanced-search-control a,
div#search form#default-search div.jquery-selectbox div.jquery-selectbox-moreButton,
div#search-sorting form div.jquery-selectbox div.jquery-selectbox-moreButton,
div#search form#advanced-search div.clearfix div.label,
div#search form#advanced-search div.clearfix div.slider-value,
div#search form#advanced-search div.jquery-selectbox div.jquery-selectbox-moreButton,
div#map-wrapper div.map-control a,
div#map-error span,
div.disable-map-control a,
div.marker-on-map,
ul.industries-tabs li a,
div.blog-list-preview div.blog-list-links div.blog-list-more-link a:hover,
div.older-posts a:hover,
div#content.company ul.company-tabs li.active a,
div#content.company ul.company-tabs li a:hover,
div#content.home ul.home-tabs li.active a,
div#content.home ul.home-tabs li a:hover,
div.tabs li.ui-tabs-active a,
div.tabs li a:hover,
div#portfolio-container.column-1 div.portfolio-description,
div#events_list ul li div.event-day-month,
div.pager ul li a.current-page,
div.older-coments a:hover,
div.rating-details button,
div#categories ul li.categories-menu-item a,
div#categories ul li.categories-menu-item-image a,
div.home-companies div.home-companies-desc div.home-companies-more a:hover,
div#pricing-plans div.pricing-table div.pricing-column div.pricing-header,
div#pricing-plans div.pricing-table div.pricing-column div.pricing-cost,
div#subscribe div.subscription-table div.subscription-column div.subscription-header,
div#footer div.block,
div#footer div.description-text div.block-content p,
header.boxed div#header-style-one div#navigation div#main-menu > div > ul > li > a div.menu-text,
a.scrollTop div#up_container span i,
div.company-listing-featured,
div.megasearch-select-button,
div.category-item-icon a i,
div.category-item-title-container a,
ul.categories-item-list-menu li a,
div.company-listing-thumb-overlay a span {
    color: @colorbody;
}
a.button-default,
a.button-second,
a.button-background:hover,
a.button-hover {
    color: @colorbody !important;
}

div.company-listing-thumb-overlay a span {
    border: 1px solid @colorbody;
}
section.boxed div#portfolio-container div.portfolio-description div.portfolio-zoom,
section.boxed div#portfolio-container div.portfolio-description div.portfolio-link {
    border-left: 2px solid @colorbody;
}
section.boxed div.blog-list-preview div.blog-list-title-comments div.blog-list-comments a,
section.boxed div.blog-list-preview div.blog-list-links div.blog-list-more-link {
    border-left: 4px solid @colorbody;
}
div.categories-item-list.hidden ul.categories-item-list-menu li,
ul.megasearch-select-list li,
div.user-links-container ul.user-links > li > ul > li {
    border-top: 2px solid @colorbody;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    color: #e3e6e7;
}
ul.social-links li.facebook a {background: #3b5998; border: 1px solid #3b5998;}
ul.social-links li.facebook a:hover {color: #3b5998 !important;}
ul.social-links li.google a {background: #353631; border: 1px solid #353631;}
ul.social-links li.google a:hover {color: #353631 !important;}
ul.social-links li.twitter a {background: #2daae1; border: 1px solid #2daae1;}
ul.social-links li.twitter a:hover {color: #2daae1 !important;}
ul.social-links li.linkedin a {background: #0073b2; border: 1px solid #0073b2;}
ul.social-links li.linkedin a:hover {color: #0073b2 !important;}
ul.social-links li.pinterest a {background: #cb1f26; border: 1px solid #cb1f26;}
ul.social-links li.pinterest a:hover {color: #cb1f26 !important;}
ul.social-links li.dribbble a {background: #ea4c88; border: 1px solid #ea4c88;}
ul.social-links li.dribbble a:hover {color: #ea4c88 !important;}
div#login-form-container {
    box-shadow: 0 0 10px black;
}
div#categories ul li.categories-menu-item-image a span,
header.boxed div#header-style-one div#navigation div#main-menu > div > ul > li > a div.menu-text.image {
    text-shadow: 0 0 3px black;
}
div#search form#advanced-search div.clearfix div.slider,
div#search form#advanced-search div.clearfix input[type="text"],
div#search form#advanced-search div.jquery-selectbox {
    background: #29363c;
}
div#search form#advanced-search div.clearfix div.slider > div,
div#search form#advanced-search div.clearfix div.slider > a:hover,
div#search form#advanced-search div.jquery-selectbox div.jquery-selectbox-moreButton,
div#search form#advanced-search div.jquery-selectbox.selecthover div.jquery-selectbox-moreButton:hover {
    background: #29b5f6;
}
#reply-title small {
    color: #a30000;
}
div.marker-on-map div.marker-close i:hover {
    color: #a30000;
    background: #eeeeee;
}
ul.industries-tabs li.active a {
    background-color: #FFF !important;
    border: 1px solid #eaeaea !important;
}
div#pricing-plans div.pricing-table div.pricing-column div.pricing-header.first {background: #1570a6;}
div#pricing-plans div.pricing-table div.pricing-column div.pricing-header.second {background: #c1c8ca;}
div#pricing-plans div.pricing-table div.pricing-column div.pricing-header.third {background: #d7bc77;}
div#pricing-plans div.pricing-table div.pricing-column div.pricing-header.fourth {background: #40555c;}
div#pricing-plans div.pricing-table div.pricing-column div.pricing-cost {
    background: #ffb900;
}
div#footer div.description-text div.block-content {
    background: #68217a;
}
div#footer div.recent-posts div.block-content ul li a {
    background: #15577e;
}
div#footer div.recent-posts div.block-content ul li a:hover {
    background: #297bab;
}
div#copyright {
    background: #1f292d;
}
div.notification-general {
    background: #e7f0f6;
}
div.notification-success {
    background: #e5f1cc;
}
div.notification-error {
    background: #f8e5e5;
}
div.notification-notice {
    background: #fff1cc;
}