/*---------------------------------------------------------------*/
/* General Layout
/*---------------------------------------------------------------*/
#crossline {
    background: url(images/title-background.png) repeat-x scroll left center transparent;
    font-family: "Patua One";
    text-align: center;
}

#crossline h1 {
    background: url(images/title-bg.png) repeat scroll 0 0 transparent;
    display: inline-block;
    padding: 0 20px;
}

#truethemes_container #main {
background-color:#EFF8FF;
border-bottom:1px solid #D1E5EE;
border-left:1px solid #D1E5EE;
border-right:1px solid #D1E5EE;
}

#truethemes_container #content {
background-color:#fff;
border-left:1px solid #D1E5EE;
float:left;
font-family:"Lucida Grande", Sans-serif;
margin-left:-1px;
min-height:550px;
width:559px;
padding:5px 22px 0;
}

#truethemes_container #content .section {
margin-bottom:25px;
}

#truethemes_container {
position:relative;
width:785px;
z-index:0;
margin:15px;
}

#truethemes_container #header {
background:#EFF8FF url(images/admin-bg-grad.jpg) repeat-x left top;
border:1px solid #B0C8D7;
height:80px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
}

.save_bar_top {
background:#EFF8FF url(images/bg-save-bar.jpg) repeat-x;
border:solid #B0C8D7;
height:35px;
text-align:right;
-webkit-border-bottom-right-radius:6px;
-webkit-border-bottom-left-radius:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-bottomleft:6px;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
border-width:0 1px 1px;
padding:10px 20px 0;
}

#truethemes_container #header .logo {
float:left;
margin:17px 20px;
}

#truethemes_container .option {
padding-top:5px;
}

#truethemes_container #content .section .controls {
float:left;
width:345px;
margin:0 15px 0 0;
}

#truethemes_container #content .section-info .controls {
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
background:#FFF298;
border:1px solid #ECD852;
color:#424242;
font-family:Georgia, arial;
font-size:14px;
font-style:italic;
line-height:1.5em;
float:left;
width:517px;
margin:0 15px 0 0;
padding:15px 20px;
}

#truethemes_container #content .section-checkbox .controls {
width:25px !important;
}

#truethemes_container #content .section-color .controls {
width:125px;
}

#truethemes_container #content .section-typography .controls {
width:425px;
}

#truethemes_container #content .mini .explain {
width:500px;
}

#truethemes_container .controls .of-typography-size,#truethemes_container .controls .of-typography-style,#truethemes_container .controls .of-border-width {
float:left;
width:80px;
}

#truethemes_container .mini .controls select,
#truethemes_container #content .section .mini .controls,
#truethemes_container .mini .controls input,
#truethemes_container #content .mini .controls {
width:70px;
}

#truethemes_container #content .section .explain {
color:#999;
float:left;
font-size:11px;
width:185px;
padding:0;
}

#truethemes_container .group h2 {
border-bottom:3px solid #DDD;
display:none;
}

#truethemes_container #content .section-typography .explain {
width:120px;
}

#truethemes_container #content .section-checkbox .explain {
width:500px !important;
}

#truethemes_container #content .section-color .explain {
width:420px;
}

#truethemes_container #content .section-info .option {
padding-top:0;
}







.section-gps_convert_cntr.hide {
    display: none;
}


/*---------------------------------------------------------------*/
/* Navigation + Lists
/*---------------------------------------------------------------*/
#truethemes_container #of-nav {
float:left;
position:relative;
width:180px;
z-index:9999;
}

#truethemes_container #of-nav li {
margin-bottom:0;
border-top:1px solid #FFF;
}

#truethemes_container #of-nav ul li a:link,#of-nav ul li a:visited {
border-bottom:1px solid #D1E5EE;
border-right:1px solid #D1E5EE;
color:#21759B;
display:block;
font-family:Georgia, Serif;
font-size:13px;
text-decoration:none;
padding:15px 10px 12px 20px;
}

#truethemes_container #of-nav ul li.current a,#truethemes_container #of-nav ul li.current a:hover {
background:#fff;
border-right:1px solid #FFF;
color:#333;
}

#truethemes_container #of-nav ul li a:hover {
color:#D64E21;
}










/*---------------------------------------------------------------*/
/* Typography
/*---------------------------------------------------------------*/
#truethemes_container #header .logo h2 {
font-style:normal;
padding-left:50px;
background:url(images/icon_option.png) 0 75% no-repeat;
}

#truethemes_container #content .section h3.heading {
border-bottom:1px solid #DDD;
margin:10px 0;
padding:7px 0;
}

#truethemes_container #content .section-info .controls small,*:first-child+html #truethemes_container #content .section .explain {
font-size:12px;
}

#truethemes_container #content .section-info h3.heading {
background:#EFE186;
border:0;
border-top:1px solid #FFF298;
font-size:12px;
font-weight:100;
letter-spacing:1px;
margin-bottom:0;
margin-top:20px;
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
padding:10px 20px;
}










/*---------------------------------------------------------------*/
/* Updates + Warnings
/*---------------------------------------------------------------*/
.updated,.error {
display:none !important;
}

#truethemes_container #js-warning {
color:red;
float:left;
width:330px;
margin:20px 10px;
}

.js #truethemes_container #js-warning,.hide {
display:none;
}

#truethemes_container .accept {
background:#DBF6BE no-repeat 10px center;
border:solid #9BBF65;
color:#060;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

#truethemes_container .warning {
background:#fee no-repeat 10px center;
border:solid #dfbfbf;
color:#333;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

#truethemes_container .update_available {
background:#FFFEEB no-repeat 10px center;
border:solid #CCC;
color:#333;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

.upload-error {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
background:#FFDFEC;
color:#666;
float:left;
font-size:10px;
font-weight:700;
text-decoration:none;
text-shadow:1px 1px 0 #FFF;
margin:0 10px 0 0;
padding:3px 10px;
}

.of-notice {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#ffd1d1;
border:1px solid #DFA8A7;
margin-bottom:15px;
text-align:center;
}










/*---------------------------------------------------------------*/
/* Input Elements
/*---------------------------------------------------------------*/
#truethemes_container .controls select {
width:340px;
padding:0 0 0 4px;
}

#truethemes_container .controls textarea {
width:345px;
resize:none;
}

#truethemes_container input[type=text] {
width:340px;
}

#truethemes_container .controls .of-typography-unit {
float:left;
width:50px;
}

#truethemes_container .controls .of-typography-face {
float:left;
width:100px;
}

#truethemes_container .controls .of-radio-img-img {
border:3px solid #fff;
cursor:pointer;
display:none;
float:left;
margin:0 5px 10px 0;
}

#truethemes_container .controls .of-radio-img-selected {
border:3px solid #ccc;
}

#truethemes_container .controls .of-radio-img-img:hover {
opacity:.8;
}

#truethemes_container .controls .of-border-style {
float:left;
width:120px;
}

#truethemes_container .controls input:focus,#truethemes_container select:focus,#truethemes_container textarea:focus {
background:#fff;
}

#truethemes_container textarea,#truethemes_container input,#truethemes_container select {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
border-style:solid;
border-width:1px;
}

#truethemes_container .controls input,#truethemes_container .controls select,#truethemes_container .controls textarea {
background-color:#F4F4F4;
border:1px solid;
font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
font-size:12px;
width:340px;
border-color:#ccc #e6e6e6 #e6e6e6 #ccc;
padding:4px;
}

#truethemes_container .controls .input-text-small {
margin-right:10px;
width:60px;
}

#truethemes_container input.checkbox,#truethemes_container input.of-radio {
    width: 16px;
}

#truethemes_container .controls .checkbox {
background-color:#FFF !important;
border:0 !important;
}

#truethemes_container .section-select select {
height:35px;
}










/*---------------------------------------------------------------*/
/* Controls + Buttons
/*---------------------------------------------------------------*/
.reset-button {
float:left;
}

.ajax-loading-img-top {
float:left;
margin:8px 4px 0;
}

#truethemes_container .of-save-popup {
background:url(images/accept-bg.png) 0 0 no-repeat;
color:#fff;
display:none;
font-size:24px;
width:297px;
height:78px;
position:absolute;
text-align:center;
}

#truethemes_container .of-save-save {
background:url(images/accept.png) 20px 50% no-repeat;
padding:30px 30px 30px 70px;
}

#truethemes_container .of-save-reset {
padding:30px;
}

.upload_button_div {
margin-bottom:10px;
}

.upload_button_div .button {
cursor:pointer;
padding:4px 14px;
}

.upload_button_div .image_reset_button {
margin-left:10px;
}

#truethemes_container .button-primary {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
margin:0;
}










/*---------------------------------------------------------------*/
/* Miscellaneous
/*---------------------------------------------------------------*/
#truethemes_container .meta-two {
margin-right:10px;
}

#truethemes_container .controls .of-color {
float:left;
margin-left:5px;
width:80px;
}

#truethemes_container .group {
padding-bottom:20px;
}

.of-option-image {
max-width:340px;
}










/*---------------------------------------------------------------*/
/* IE Specific
/*---------------------------------------------------------------*/
*:first-child+html .reset-button {
margin-top:-24px;
}

*:first-child+html #truethemes_container .of-save-save,*:first-child+html #truethemes_container .of-save-reset {
padding:30px 30px 30px 65px;
}
